<div class="signup-container">
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>Login</mat-label>
    <input matInput placeholder="Type your login">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>Age</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Sex</mat-label>
    <mat-select>
      <mat-option value="male">MALE</mat-option>
      <mat-option value="female">FEMALE</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Interests</mat-label>
    <textarea matInput placeholder="Tell something about you"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [floatLabel]="'auto'">
    <mat-label>City</mat-label>
    <input matInput>
  </mat-form-field>
</div>
