[Unit]
Description=Mysql to Tarantool replication daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/replicatord -c /usr/local/etc/replicatord.yml
Restart=always

[Install]
WantedBy=multi-user.target
