global
    maxconn 500
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 3s
    timeout client  50s
    timeout server  50s

frontend haproxy
    mode tcp
    bind *:80
    default_backend application_nodes

backend application_nodes
    mode tcp
    server server01 ${APP1} check inter 1s
    server server02 ${APP2} check inter 1s

listen stats
    bind *:83
    stats enable
    stats uri /
