
<mat-card class="page-content">
  <mat-card-header>
    <mat-card-title>NAME</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <div class="profile-userpic">
    <img src="https://avatarfiles.alphacoders.com/442/44217.jpg" class="img-responsive">
  </div>
  <mat-divider></mat-divider>
  <mat-card-actions align="center">
    <button mat-raised-button color="accent">Add to friends</button>
    <button mat-raised-button color="accent">Show friends</button>
  </mat-card-actions>
  <mat-card-content>
    <mat-list>
      <div mat-subheader>User info</div>
      <mat-list-item>
        <div>Field1</div>
        <div>Value</div>
      </mat-list-item>
      <mat-list-item>
        <div>Field2</div>
        <div>Value</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- SIDEBAR USERPIC -->



